/*NÊN ĐỌC README.md CỦA SOURCE TRƯỚC KHI VÀO ĐÂY*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*ADD font chữ từ bên ngoài vào, dùng font của Google Font nhé*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary--color: #f2726a; /*Đặt màu bằng tên biễn cho đỡ phải nhớ mã màu*/
}

*{ /*Vẫn là phần quan trọng đầu tiên: reset CSS*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh; /*đặt chiều cao của thẻ body = 100% chiều cao của viewport. Đảm bảo nội dung trang sẽ luôn lấp đầy khu vực hiển thị của trình duyệt*/
    background: linear-gradient(to right, #008B8B, #4682B4); /* Đặt nền của của phần tử "body", pha màu sẽ được tạo từ phía bên trái sang bên phải theo 2 tông màu chọn là #008B8B và #4682B4 */
    display: flex; /*Cho phép càng phần tử trong thẻ này được sắp xếp linh hoạt*/
    justify-content: center; /*Căn chỉnh càng phần tử con theo chiều ngang. Trong trường hợp này là nó căn giữa các phần tử con theo chiều ngang*/
    align-items: center; /*Căn các phần tử con theo chiều dọc(trên xuống dưới). Trong trường hợp này thì nó căn giữa các phần tử con theo chiều dọc*/
    font-family: "Poppins"; /*Đặt font chữ là kiểu: Poppins. Loại font này thì cần add từ bên ngoài vào nhé, theo đường link ngay đầu file: style.css*/
    color: white; /*Đặt màu chữ của nội dung thành màu trắng*/
}

.card{ /*setup định hình thẻ*/
    background: #4a4b4c; /*Đặt màu nền*/
    width: 300px; /*Đặt chiều rộng là 300px*/
    height: 400px; /*Đặt chiều cao là 400px*/
    border-radius: 10px; /*Bo tròn các góc của thẻ*/
    text-align: center; /*Nội dung sẽ đượ căn giữa theo chiều ngang*/
    overflow: hidden; /*Xử lý nội dung bên trong card nếu bị tràn ra ngoài sẽ bị ẩn đi, không hiển thị ra ngoài*/
    margin: 0 20px; /*Khoàng cách 20px giữa các phần tử xung quanh card. Theo chiều ngang*/
}

.img {
    object-fit: cover; /*Điều chỉnh hình ảnh tự động bên trong khung của phần tử img. "cover" giúp hình ảnh tự co giãn mà không làm mất đi tỷ lệ ảnh gốc và k bị biến dạng*/
    width: 100%; /*Chiều rộng bằng 100% tỷ lệ kích thước của phần tử cha( hoặc phần tử bao bọc nó )*/
    height: 100%; /*Chiều cao bằng 100% tỷ lệ kích thước của phần tử cha( hoặc phần tử bao bọc nó )*/
    object-position: center; /*Xác định vị trí bên trong khung của hình ảnh. "center" giúp ảnh sẽ được căn giữa theo cả chiều ngang và chiều dọc trong khung */    
}

.card_img{
    width: 120px; /*Đặt chiều rộng là 120px*/
    height: 120px; /*Đặt chiều cao là 120px*/
    border: 4px solid var(--primary--color); /*Tạo viền có độ dày là 4px. Solid giúp viền sẽ là đoạn liên tục. var thì nó là mã màu đã được gán ở đầu file style.css*/
    border-radius: 50%; /*Biến phần tử thành hình tròn*/
    overflow: hidden; /*Xử lý nội dung bên trong card nếu bị tràn ra ngoài sẽ bị ẩn đi, không hiển thị ra ngoài*/
    margin: 0px auto;  /*Phần tử sẽ được căn giữa theo chiều ngang*/
    transform: translateY(25px); /*Áp dụng hiệu ứng trượt theo chiều dọc lên 25px*/
    transition: 0.5s; /*Tạo hiệu ứng mượt hơn khi phần tử có sự thay đổi khi di chuộc vào là 0.5s*/
}

.card h2{
    margin-top: 35px;
}

.card p{
    color: var(--primary--color);
}

.card_social{
    margin: 25px 0;
}

.card_social a{
    color: white;
    margin: 25px 20px;
    font-size: 20px;
}

.card_social a:hover{
    color: var(--primary--color);
}

.card button{
    width: 150px;
    height: 40px;
    border: 1px solid var(--primary--color);
    background: transparent;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.card button:hover{
    background-color: var(--primary--color);
}

.card_img:hover{
    width: 100%;
    height: 100%;
    border-radius: unset;
    transform: unset;
    border: none;
}


