/*NÊN ĐỌC README.md CỦA SOURCE TRƯỚC KHI VÀO ĐÂY*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*ADD font chữ từ bên ngoài vào, dùng font của Google Font nhé*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary--color: #f2726a; /*Đặt màu bằng tên biễn cho đỡ phải nhớ mã màu*/
}

*{ /*Vẫn là phần quan trọng đầu tiên: reset CSS*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh; /*đặt chiều cao của thẻ body = 100% chiều cao của viewport. Đảm bảo nội dung trang sẽ luôn lấp đầy khu vực hiển thị của trình duyệt*/
    background: linear-gradient(to right, #008B8B, #4682B4); /* Đặt nền của của phần tử "body", pha màu sẽ được tạo từ phía bên trái sang bên phải theo 2 tông màu chọn là #008B8B và #4682B4 */
    display: flex; /*Cho phép càng phần tử trong thẻ này được sắp xếp linh hoạt*/
    justify-content: center; /*Căn chỉnh càng phần tử con theo chiều ngang. Trong trường hợp này là nó căn giữa các phần tử con theo chiều ngang*/
    align-items: center; /*Căn các phần tử con theo chiều dọc(trên xuống dưới). Trong trường hợp này thì nó căn giữa các phần tử con theo chiều dọc*/
    font-family: "Poppins"; /*Đặt font chữ là kiểu: Poppins. Loại font này thì cần add từ bên ngoài vào nhé, theo đường link ngay đầu file: style.css*/
    color: white; /*Đặt màu chữ của nội dung thành màu trắng*/
}

.card{ /*setup định hình thẻ*/
    background: #4a4b4c; /*Đặt màu nền*/
    width: 300px; /*Đặt chiều rộng là 300px*/
    height: 400px; /*Đặt chiều cao là 400px*/
    border-radius: 10px; /*Bo tròn các góc của thẻ*/
    text-align: center; /*Nội dung sẽ đượ căn giữa theo chiều ngang*/
    overflow: hidden; /*Xử lý nội dung bên trong card nếu bị tràn ra ngoài sẽ bị ẩn đi, không hiển thị ra ngoài*/
    margin: 0 20px; /*Khoàng cách 20px giữa các phần tử xung quanh card. Theo chiều ngang*/
}

.img {
    object-fit: cover; /*Điều chỉnh hình ảnh tự động bên trong khung của phần tử img. "cover" giúp hình ảnh tự co giãn mà không làm mất đi tỷ lệ ảnh gốc và k bị biến dạng*/
    width: 100%; /*Chiều rộng bằng 100% tỷ lệ kích thước của phần tử cha( hoặc phần tử bao bọc nó )*/
    height: 100%; /*Chiều cao bằng 100% tỷ lệ kích thước của phần tử cha( hoặc phần tử bao bọc nó )*/
    object-position: center; /*Xác định vị trí bên trong khung của hình ảnh. "center" giúp ảnh sẽ được căn giữa theo cả chiều ngang và chiều dọc trong khung */    
}

.card_img{
    width: 120px; /*Đặt chiều rộng là 120px*/
    height: 120px; /*Đặt chiều cao là 120px*/
    border: 4px solid var(--primary--color); /*Tạo viền có độ dày là 4px. Solid giúp viền sẽ là đoạn liên tục. var thì nó là mã màu đã được gán ở đầu file style.css*/
    border-radius: 50%; /*Biến phần tử thành hình tròn*/
    overflow: hidden; /*Xử lý nội dung bên trong card nếu bị tràn ra ngoài sẽ bị ẩn đi, không hiển thị ra ngoài*/
    margin: 0px auto;  /*Phần tử sẽ được căn giữa theo chiều ngang*/
    transform: translateY(25px); /*Áp dụng hiệu ứng trượt theo chiều dọc lên 25px*/
    transition: 0.5s; /*Tạo hiệu ứng mượt hơn khi phần tử có sự thay đổi khi di chuộc vào là 0.5s*/
}

.card h2{
    margin-top: 35px; /*Đặt khoảng cách phần tử h2 đến phần tử cha là card lên trên 35px*/
}

.card p{
    color: var(--primary--color); /*Đặt màu chữ cho phần tử p thuộc phần tử cha là card với mã màu được gán từ đầu*/
}

.card_social{
    margin: 25px 0; /*Đặt khoảng cách viền xung quanh phần tử card.social. Khoảng cách 25px cả bên trên và bên dưới; không có khoảng cách ở 2 bên trái phải*/
}

.card_social a{
    color: white; /*Màu chữ thẻ a là màu trắng*/
    margin: 25px 20px; /*Khoảng cách viền xung quanh với các liên kết. Ở đây có khoảng cách 25px bên trên và bên dưới; khoảng cách 20px bên trái và bên phải*/
    font-size: 20px; /*đặt kích chữ cho các liên kết thẻ a là 20px*/
}

.card_social a:hover{
    color: var(--primary--color); /*Đặt màu khi di chuột vào sẽ đổi thành màu đã đặt*/
}

.card button{
    width: 150px; /*Chiều rộng nút*/
    height: 40px; /*Chiều cao nút*/
    border: 1px solid var(--primary--color); /*Viền nút có độ dày là 1px và viền có màu là màu đã gán đầu file css*/
    background: transparent; /*Màu nền của nút là trong suốt*/
    color: white; /*Màu chữ của nút sẽ là màu trắng*/
    border-radius: 10px; /*Bo các góc có nút*/
    cursor: pointer; /*Sẽ hiện bàn tay khi di chuột vào nút*/
    transition: 0.5s; /*Độ mượt chuyển nền nút sang màu khác là 0.5s*/
}

.card button:hover{
    background-color: var(--primary--color); /*Màu nền của nút sẽ thay đổi khi di chuột vào*/
}

.card_img:hover{ /*Làm hiệu ứng hình ảnh khi ấn vào sẽ phóng to ra toàn diện tích thẻ*/
    width: 100%; /*Ảnh sẽ lấp đầy phần tử card khi di chuột vào ảnh theo chiều rộng */
    height: 100%; /*Ảnh sẽ lấp đầy phần tử card khi di chuột vào theo chiều cao*/
    border-radius: unset; /*Ở đây, khi di chuột vào thì vòng tròn quanh ảnh sẽ bị vỡ ra để ảnh được phóng to*/
    transform: unset; /*Gỡ bỏ hiệu ứng đã được đặt trước đó cho phần tử card_img. Điều này sẽ làm cho phía bên trên của ảnh sẽ không bị thừa 1 khoảng khi di chuột vào*/
    border: none; /*Di chuột vào ảnh thì viền sẽ được xóa bỏ. Nếu không để none thì ảnh sẽ vẫn phóng to vừa hết chỗ của card nhưng cái viền nó sẽ vẫn còn*/
}


